{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %}
    <div id="main">
        <h2>Введите данные продавца</h2>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-5">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.type |as_crispy_field }}<br>
                        {{ form.INN |as_crispy_field }}<br>
                        {{ form.reg_date |as_crispy_field }}<br>
                        {{ form.legal_name|as_crispy_field }}<br>
                        {{ form.email|as_crispy_field }}<br>
                        {{ form.index|as_crispy_field }}<br>
                        {{ form.city|as_crispy_field }}<br>
                        {{ form.street|as_crispy_field }}<br>
                        {{ form.house_number|as_crispy_field }}<br>
                        <div id="sub">
                            <button type="submit" class="btn">
                                Регистрация
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div><br>
    </div>
{% endblock %}